<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clicker</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <style>
      html, body {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
      }
      .container {
        width: 100%;
      }
      .circle {
        display: block;
        margin: auto;
        overflow: none;
        background: #111;
        cursor: pointer;
      }
      .text {
        color: #eee;
        text-align: center;
        font-family: 'Roboto', Tahoma, sans-serif;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script>

      var intervalTime = 10;
      var isPlay = false;
      var gameScore = 0;

      function initUI () {
        var width = Math.min($(window).width(), $(window).height()) * .8;

        $('.circle').css({
          height: width,
          width: width,
          borderRadius: width / 2
        });

        $('.container').css({
          paddingTop: ($(window).height() - width) / 2
        });

        $('.text').css({
          fontSize : width * .25,
          paddingTop : (width * .7) / 2
        })
      }

      function setCol(col) {
        if(col === 'black') {
          $('.circle').css('backgroundColor', '#111');
        } else if(col === 'blue') {
          $('.circle').css('backgroundColor', '#15B5E6');
        } else if(col === 'red') {
          $('.circle').css('backgroundColor', '#E60B0B');
        } else if(col === 'grey') {
          $('.circle').css('backgroundColor', '#333');
        }
      }

      function setText(txt) {
        $('.text').text(txt);
      }

      function set(txt, col) {
        setText(txt);
        setCol(col);
      }

      function stateFetching() {

        $.get('/ping', function(data) {

          data = JSON.parse(data);
          console.log('PING !!! ' + intervalTime);

          isPlay = data.isPlay;
          intervalTime = data.pingTime * 1000;

          switch(data.state) {
            case 'wait' : set('WAIT', 'grey'); gameScore = 0; break;
            case 'ready' : set('READY', 'blue'); gameScore = 1; break;
            case 'play' : set(gameScore - 1, 'black'); break;
            case 'reject' : {
              $.get('/isReject', function(data2) {
                if(data2 === 'Yes') setCol('red');
                else setCol('black');
              });
              break;
            }
          }
        });

        setTimeout(stateFetching, intervalTime);
      }

      function circleClick() {
        if(isPlay) {
          $.get('/click', function(data) {
            if(data === 'Yes') gameScore++;
          });
        }
      }

      $(function() {

        $(window).resize(initUI);
        initUI();
        stateFetching();

        $('.circle').click(circleClick);

        console.log($(window).width());
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="circle">
        <div class="text">WAIT</div>
      </div>
    </div>

    <% if(production) { %>
      <script id="__bs_script__">
      //<![CDATA[
      document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.14.0.js'><\/script>".replace("HOST", location.hostname));
      //]]>
      </script>
    <% } %>
  </body>
</html>
